{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Acquisition Intake - TTS Office of Acquisition{% endblock %}</title>
    <meta name="description" content="Intake form for TTS offices to begin the process of buying something through the TTS Office of Acquisition.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Acquisition Intake - TTS Office of Acquisition" />
    <meta name="twitter:title" content="Acquisition Intake - TTS Office of Acquisition">
    <meta property="og:url" content="https://{{ request.get_host }}/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{% static "img/hero.png" %}">
    <meta name="twitter:image" content="{% static "img/hero.png" %}">
    <meta property="og:description" content="Making Procurement Joyful.">
    <meta name="twitter:description" content="Making Procurement Joyful.">

    <link rel="stylesheet" href="{% static "css/uswds.min.css" %}">
    <script src="{% static "js/uswds.min.js" %}"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicons/favicon.ico" %}" />

    {% block resources %}{% endblock %}
  </head>
  <body>
    <a class="usa-skipnav" href="#main">Skip to main content</a>
    {% include "intake/includes/header.html" %}
    <div class="usa-overlay"></div>
    <main id="main" aria-label="Content">
      <section class="usa-grid">
      {% block content %}{% endblock %}
      </section>

    </main>
    {% block modals %}{% endblock modals %}
    {% include "intake/includes/footer.html" %}
  </body>
</html>
