{% extends "intake/base.html" %}

{% block content %}

<form id='internal_or_external_form' action='/requests/{{ request_id }}/internal_or_external' method='post'>

  {% csrf_token %}

  <p>Is this purchase primarily for TTS or an external partner?</p>

  <input type="radio"
         id='radio_tts'
         name="is_internal"
         value="true">
         TTS
         <br />
  <input type="radio"
         id='radio_external'
         name="is_internal"
         value="false">
         External
         <br />
  <br />
  <input type="submit" id='submit' value="Next" />
</form>

{% endblock %}
