{% extends "intake/base.html" %}

{% block content %}

<form id='mp_threshold' action='/requests/{{ request_id }}/start' method='post'>

  {% csrf_token %}

  <p>Does this cost more than $3500 per year?</p>

  <input type="radio" id='radio_yes' name="below_mp_threshold" value="false">
  <label for="radio_yes">Yes</label>
  
  <input type="radio" id='radio_no' name="below_mp_threshold" value="true">
  <label for="radio_no">No</label>
  
  <input type="radio" id='radio_not_sure' name="below_mp_threshold" value="none"> 
  <label for="radio_not_sure">I'm not sure</label> 
  <br />
  <input type="submit" id='submit' value="Next" />
</form>

{% endblock %}
