{% extends "intake/base.html" %}

{% block content %}

<p>Sorry, this form is not for training purchases.</p>

<p>If you are in OPP, you can file your request on <a href="https://gsa.my.salesforce.com/">Salesforce</a>.</p>

<p>If you are in another team in TTS, file your request on <a href="https://cap.18f.gov/">C2</a>.</p>

<p>You might also need additional approvals for your IDP and SF-182 -- learn more about <a href="https://handbook.18f.gov/professional-development-and-training/">professional development and training in the 18F Handbook</a>.</p>

{% endblock %}
