{% load static from staticfiles %}

<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="javascript:void(0);">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-third usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://gsa.gov">GSA</a>
          </li>
          <li class="usa-width-one-third usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://gsa.gov/tts">TTS</a>
          </li>
          <li class="usa-width-one-third usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://18f.gsa.gov">18F</a>
          </li>
        </ul>
      </nav>
      <div class="usa-width-one-third">
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p>inquiries18f@gsa.gov</p>
        </div>
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <a href="mailto:inquiries18f@gsa.gov?subject=TTS Acquisition - Inquiry">inquiries18f@gsa.gov</a>
        </div>
      </div>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <a href="https://gsa.gov"><img class="usa-footer-slim-logo-img" src="{% static "img/circle-124.png" %}" alt="Logo image"></a>
      </div>
    </div>
  </div>

</footer>
